!!!
%html
	
	= render "head", locals: {title: "blog"} 
	=stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"

	%body

		%header
			= render "navbar"
			.jumbotron#jumbo
				.container
					%h1 Teck Wu's Blog
					%h2.lead I talk about everything I know. Generally code.
					/ %a.btn.btm-primary.btm-lg{:role => "button", :href => "#"} Learn More
		

		.container
			.row
				//blog-posts
				.col-sm-8.col-xs-12.blog-posts
					//sample blog post
					- if @blogposts.empty?
						%p#nothing Nothing to be found here!
					- @blogposts.each do |bp|
						.blog-head
							%h2.blog-post-title
								%a{:href => "#"}= bp[:title] 
							%p.blog-post-meta
								By
								%a{:href => ""}Ong Teck Wu
								| 
								= bp.long_ordinal
								|
								= bp[:id]
							.truncated-blog-post
								= bp.truncated_post(150)
							%a.read-more{:href => "#"}
								Read More...
								%span.arrow-down

							.blog-post.blog-post-show
								%p= bp[:content]
								%a.read-less{:href => '#'} 
									Read Less...
									%span.arrow-up
							%hr

				//blog-sidebar
				.col-sm-3.col-xs-12
					#about-blog
						%h4 About
						%p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam, illo perferendis iusto vero consequatur quibusdam excepturi! Amet, velit, obcaecati. Ut quibusdam odit excepturi nesciunt non perferendis rerum nemo voluptatem.
					#categories
						%h4#category-title CATEGORIES
						%a.category-name{:href => "#"} 
							Lorem ipsum
							%span.category-num (1) 
				.col-xs-12
					%ul.pager
						%li.previous{class: ("disabled" if @id == 1)}	
							=link_to "Newer", blog_page_path((@id - 1).to_s), class: "page_to", id: "page_#{@id}"
						%li.next{class: ("disabled" if @older_disable)}
							=link_to "Older", blog_page_path((@id + 1).to_s), class: "page_to", id: "page_#{@id}"
